  .navbar{
      background-color: rgb(92, 93, 143);

    }
    .navbar-nav a{
  font-size: 1.2rem !important;
    }
    .navbar-toggler {
        background-color: white !important; 
        }

    .btnRetour{
    border: 2px solid white
    }
    .btnRetour:hover{
    border: 2px solid white
    }
    
    .fa-arrow-left{
     color: white; 
    }

     .btn-primary {
      background-color: rgb(92, 93, 143);
      border: none;
    }

    .btn-primary:hover {
      background-color: rgb(92, 93, 143);
      border: none;
      
    }