  .navbar{
      background-color: rgb(92, 93, 143);
      background-color: #37445a;

    }
    .navbar-nav a{
  font-size: 1.2rem !important;
    }
    .navbar-toggler {
        background-color: white !important; 
        }

    .btnRetour{
    border: 2px solid white
    }
    .btnRetour:hover{
    border: 2px solid white
    }
    
    .fa-arrow-left{
     color: white; 
    }

     .btn-primary {
      background-color: rgb(92, 93, 143);
      background-color: rgb(42, 42, 42);
      background-color: rgb(50, 70, 90);
      background-color: rgb(52, 112, 76);
      background-color: #40C4FF;
      background-color: #FF5252;
      border: none;
    }

    .btn-primary:hover {
      background-color: #FF5252;;
      border: none;
      
    }